/node_modules/*
/src/nopCommerce/*
/src/Build/*
/src/Libraries/*
/src/Plugins/*
/src/Presentation/*
/src/Tests/*
/src/Deploying.Readme.txt
/src/global.json
/src/LICENSE.md
/src/NopCommerce.sln
/package-lock.json
/nopCommerce/*
/obj/
/node_modules
/coverage/*
