/node_modules/shelljs/.documentup.json
/node_modules/shelljs/.jshintrc
/node_modules/shelljs/.npmignore
/node_modules/.package-lock.json
/node_modules/shelljs/.travis.yml
/node_modules/shelljs/src/cat.js
/node_modules/shelljs/src/cd.js
/node_modules/cliui/CHANGELOG.md
/node_modules/y18n/CHANGELOG.md
/node_modules/yargs/CHANGELOG.md
/node_modules/shelljs/src/chmod.js
/node_modules/window-size/cli.js
/node_modules/shelljs/src/common.js
/node_modules/yargs/lib/completion.js
/node_modules/yargs/completion.sh.hbs
/node_modules/shelljs/src/cp.js
/node_modules/yargs/locales/de.json
/node_modules/shelljs/src/dirs.js
/node_modules/shelljs/src/echo.js
/node_modules/yargs/locales/en.json
/node_modules/shelljs/src/error.js
/node_modules/yargs/locales/es.json
/node_modules/shelljs/src/exec.js
/node_modules/shelljs/src/find.js
/node_modules/yargs/locales/fr.json
/node_modules/shelljs/scripts/generate-docs.js
/node_modules/shelljs/global.js
/node_modules/shelljs/src/grep.js
/node_modules/yargs/locales/id.json
/node_modules/ansi-regex/index.js
/node_modules/camelcase/index.js
/node_modules/cliui/index.js
/node_modules/code-point-at/index.js
/node_modules/decamelize/index.js
/node_modules/invert-kv/index.js
/node_modules/is-fullwidth-code-point/index.js
/node_modules/lcid/index.js
/node_modules/number-is-nan/index.js
/node_modules/os-locale/index.js
/node_modules/string-width/index.js
/node_modules/strip-ansi/index.js
/node_modules/window-size/index.js
/node_modules/wrap-ansi/index.js
/node_modules/y18n/index.js
/node_modules/yargs/index.js
/node_modules/yargs/locales/ja.json
/node_modules/yargs/locales/ko.json
/node_modules/lcid/lcid.json
/node_modules/shelljs/LICENSE
/node_modules/window-size/LICENSE
/node_modules/y18n/LICENSE
/node_modules/yargs/LICENSE
/node_modules/ansi-regex/license
/node_modules/camelcase/license
/node_modules/code-point-at/license
/node_modules/decamelize/license
/node_modules/is-fullwidth-code-point/license
/node_modules/lcid/license
/node_modules/number-is-nan/license
/node_modules/os-locale/license
/node_modules/string-width/license
/node_modules/strip-ansi/license
/node_modules/wrap-ansi/license
/node_modules/cliui/LICENSE.txt
/node_modules/shelljs/src/ln.js
/node_modules/shelljs/src/ls.js
/node_modules/shelljs/make.js
/node_modules/shelljs/src/mkdir.js
/node_modules/shelljs/src/mv.js
/node_modules/yargs/locales/nb.json
/node_modules/ansi-regex/package.json
/node_modules/camelcase/package.json
/node_modules/cliui/package.json
/node_modules/code-point-at/package.json
/node_modules/decamelize/package.json
/node_modules/invert-kv/package.json
/node_modules/is-fullwidth-code-point/package.json
/node_modules/lcid/package.json
/node_modules/number-is-nan/package.json
/node_modules/os-locale/package.json
/node_modules/shelljs/package.json
/node_modules/string-width/package.json
/node_modules/strip-ansi/package.json
/node_modules/window-size/package.json
/node_modules/wrap-ansi/package.json
/node_modules/y18n/package.json
/node_modules/yargs/package.json
/node_modules/yargs/lib/parser.js
/node_modules/yargs/locales/pirate.json
/node_modules/yargs/locales/pl.json
/node_modules/shelljs/src/popd.js
/node_modules/yargs/locales/pt.json
/node_modules/yargs/locales/pt_BR.json
/node_modules/shelljs/src/pushd.js
/node_modules/shelljs/src/pwd.js
/node_modules/cliui/README.md
/node_modules/shelljs/README.md
/node_modules/window-size/README.md
/node_modules/y18n/README.md
/node_modules/yargs/README.md
/node_modules/ansi-regex/readme.md
/node_modules/camelcase/readme.md
/node_modules/code-point-at/readme.md
/node_modules/decamelize/readme.md
/node_modules/invert-kv/readme.md
/node_modules/is-fullwidth-code-point/readme.md
/node_modules/lcid/readme.md
/node_modules/number-is-nan/readme.md
/node_modules/os-locale/readme.md
/node_modules/string-width/readme.md
/node_modules/strip-ansi/readme.md
/node_modules/wrap-ansi/readme.md
/node_modules/shelljs/src/rm.js
/node_modules/shelljs/scripts/run-tests.js
/node_modules/shelljs/src/sed.js
/node_modules/shelljs/shell.js
/node_modules/.bin/shjs
/node_modules/shelljs/bin/shjs
/node_modules/shelljs/src/tempdir.js
/node_modules/shelljs/src/test.js
/node_modules/shelljs/src/to.js
/node_modules/shelljs/src/toEnd.js
/node_modules/yargs/lib/tokenize-arg-string.js
/node_modules/yargs/locales/tr.json
/node_modules/yargs/lib/usage.js
/node_modules/yargs/lib/validation.js
/node_modules/shelljs/src/which.js
/node_modules/.bin/window-size
/node_modules/yargs/locales/zh.json
/src/nopCommerce/*
/src/Build/*
/src/Libraries/*
/src/Plugins/*
/src/Presentation/*
/src/Tests/*
/src/Deploying.Readme.txt
/src/global.json
/src/LICENSE.md
/src/NopCommerce.sln
/nopCommerce/*
/node_modules/*
/obj/
/node_modules
/.idea/*
/.idea/jsLibraryMappings.xml
/src/.idea/
/coverage/*

#tests
test
coverage

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

#linters
.jscsrc
.jshintrc
.eslintrc*

#editor settings
.idea
.editorconfig

.babelrc
.gitignore
.travis.yml
jest.config.js
rollup.config.js
/.github/*
/.github
/bin/*