/node_modules/*
/src/nopCommerce/*
/src/Build/*
/src/Libraries/*
/src/Plugins/*
/src/Presentation/*
/src/Tests/*
/src/Deploying.Readme.txt
/src/global.json
/src/LICENSE.md
/src/NopCommerce.sln
/nopCommerce/*
/obj/
/node_modules
/.idea/*
/.idea/jsLibraryMappings.xml
/src/.idea/
/coverage/*

#tests
test
coverage

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

#linters
.jscsrc
.jshintrc
.eslintrc*

#editor settings
.idea
.editorconfig

.nopcli
.babelrc
.gitignore
.travis.yml
jest.config.js
rollup.config.js
/.github/*
/.github
/bin/*
.whitesource
CONTRIBUTING.md