@model Nop.Plugin.Widgets.Generic.Models.PublicInfoModel
@{
    Layout = "";
}
<div class="Generic-wrapper theme-custom">
    <div id="Generic" class="Generic">
        @Model.Property
    </div>
</div>
<script asp-location="Footer">
    $(window).on('load', function () {
        $('#Generic').css({"background-color": "blue", "font-size": "200%"});
    });
</script>