@model Nop.Plugin.Widgets.NopcliGeneric.Models.PublicInfoModel
@{
    Layout = "";
}
<div class="NopcliGeneric-wrapper theme-custom">
    <div id="NopcliGeneric" class="NopcliGeneric">
        @Model.Property
    </div>
</div>
<script asp-location="Footer">
    $(window).on('load', function () {
        $('#NopcliGeneric').css({"background-color": "blue", "font-size": "200%"});
    });
</script>